#galeries-cards{
    margin-left: 5px;
}

body{
    overflow-x:hidden;
    min-height: 1000px;
    background: #283048; 
    background: -webkit-linear-gradient(to bottom, #859398, #283048);  
    background: linear-gradient(to bottom, #859398, #283048); 
}

.footer{
    display: b;
}